*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contenedor{
    background: #EFEFBB;  
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    display: grid;
    grid-gap: 5px;
    grid-template-areas:"cabecera cabecera cabecera"
                        "titulo titulo titulo"
                        "fantasma1 contenido fantasma2"
                        "contenido2 contenido2 contenido2"
                        "pie pie pie" ;
}
.contenedor .cabecera{
    grid-area: cabecera;
    margin: 0 auto;
}
.navbar {
    height: 100px; 
}
.navbar-collapse {
    width: 100%; 
    height: 60px; 
}
.navbar-nav .nav-link {
    font-size: 22px; 
}
.contenedor .titulo{
    grid-area: titulo;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    margin: 0px auto; 
}
.contenedor .contenido{
    grid-area: contenido;
}
.contenedor .contenido2{
    grid-area: contenido2;
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 120px;
}
.contenedor .contenido2 .card-header{
    font-weight: 700;
}
.contenido2 .card {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px);  
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    color: #000; 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
.card {
    background-color: #ffeba7;
}
.contenedor .fantasma1{
    grid-area: fantasma1;  
}
.contenedor .fantasma2{
    grid-area: fantasma2;
}
.border-menu {
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(5px); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
/*pie*/
.contenedor .pie{
    grid-area: pie;
    position: relative;
    width: 100%;
}
.pie-contenido {
    position: absolute;
    bottom: 30px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 10; 
}
.pie-titulo h2 {
    color: #333; 
    margin: 0;
}
.redes-iconos {
    display: flex;
    gap: 15px;
}
.redes-icono img {
    width: 30px; 
    height: 30px;
}
.pie svg {
    position: relative;
    z-index: 5;
    width: 100%;
}
.redes-icono i {
    padding: 15px;
    font-size: 50px;
    color: #333; 
}